.hero {
	height: 400px;
	overflow: hidden;

	.heading {
<<<<<<< HEAD
        text-align: center;
=======
    	text-align: center;
>>>>>>> origin/master
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        color: $white;
        text-transform: uppercase;
        font-size: 36px;
<<<<<<< HEAD
=======
        span {
            color: $red;
        }
>>>>>>> origin/master
	}
}